{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>وبسایت شخصی مهدی رمضانی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Template CSS Files -->
    <link type="text/css" media="all" href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link type="text/css" media="all" href="{% static "css/jquery.animatedheadline.css" %}" rel="stylesheet">
    <link type="text/css" media="all" href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link type="text/css" media="all" href="{% static "css/style.css" %}" rel="stylesheet">
    <link type="text/css" media="all" href="{% static "css/skins/blue.css" %}" rel="stylesheet">

    <!-- Template JS Files -->
    <script src="{% static "js/modernizr.js" %}"></script>

    <!-- Live Style Switcher - demo only -->
    <link rel="alternate stylesheet" type="text/css" title="blue" href="{% static "css/skins/blue.css" %}"/>
    <link rel="alternate stylesheet" type="text/css" title="goldenrod" href="{% static "css/skins/goldrenrod.css" %}"/>
    <link rel="alternate stylesheet" type="text/css" title="green" href="{% static "css/skins/green.css" %}"/>
    <link rel="alternate stylesheet" type="text/css" title="magenta" href="{% static "css/skins/magenta.css" %}"/>
    <link rel="alternate stylesheet" type="text/css" title="orange" href="{% static "css/skins/orange.css" %}"/>
    <link rel="alternate stylesheet" type="text/css" title="red" href="{% static "css/skins/red.css" %}"/>
    <link rel="alternate stylesheet" type="text/css" title="yellow" href="{% static "css/skins/yellow.css" %}"/>
    <link rel="alternate stylesheet" type="text/css" title="yellowgreen"
          href="{% static "css/skins/yellowgreen.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/styleswitcher.css" %}"/>

</head>

<body class="dark bgimage">
<div class="page">
    <!-- Live Style Switcher Starts - demo only -->
    <div id="switcher" class="">
        <div class="content-switcher">
            <h4>تعویض سبک</h4>
            <ul>
                <li>
                    <a href="#" onclick="setActiveStyleSheet('blue');" title="blue" class="color"><img
                            src="{% static "img/styleswitcher/blue.png" %}" alt="blue"/></a>
                </li>
                <li>
                    <a href="#" onclick="setActiveStyleSheet('red');" title="red" class="color"><img
                            src="{% static "img/styleswitcher/red.png" %}" alt="red"/></a>
                </li>
                <li>
                    <a href="#" onclick="setActiveStyleSheet('goldenrod');" title="goldenrod" class="color"><img
                            src="{% static "img/styleswitcher/goldenrod.png" %}" alt="goldenrod"/></a>
                </li>
                <li>
                    <a href="#" onclick="setActiveStyleSheet('magenta');" title="magenta" class="color"><img
                            src="{% static "img/styleswitcher/magenta.png" %}" alt="magenta"/></a>
                </li>
                <li>
                    <a href="#" onclick="setActiveStyleSheet('yellowgreen');" title="yellowgreen" class="color"><img
                            src="{% static "img/styleswitcher/yellowgreen.png" %}" alt="yellowgreen"/></a>
                </li>
                <li>
                    <a href="#" onclick="setActiveStyleSheet('orange');" title="orange" class="color"><img
                            src="{% static "img/styleswitcher/orange.png" %}" alt="orange"/></a>
                </li>
                <li>
                    <a href="#" onclick="setActiveStyleSheet('green');" title="green" class="color"><img
                            src="{% static "img/styleswitcher/green.png" %}" alt="green"/></a>
                </li>
                <li>
                    <a href="#" onclick="setActiveStyleSheet('yellow');" title="yellow" class="color"><img
                            src="{% static "img/styleswitcher/yellow.png" %}" alt="yellow"/></a>
                </li>
            </ul>

            <br>

            <a href="#" class="waves-effect waves-light btn font-family-irbold  purchase hoverable"> <span><i
                    class="fa fa-shopping-cart"></i>خرید</span></a>
            <div id="hideSwitcher">&times;</div>
        </div>
    </div>
    <div id="showSwitcher" class="styleSecondColor"><i class="fa fa-cog fa-spin"></i></div>
    <!-- Live Style Switcher Ends - demo only -->
    <!-- Header Starts -->
    <header id="header">
        <div class="nav-container">
            <div>
                <!-- Mobile Navigation Starts -->
                <ul id="nav" class="navigation">
                    <li class="active">
                        <div>
                            <a id="link-home" href="{% url "Home_app:Home" %}" class="active">
                                <i class="fa fa-home"></i><span>خانه</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a id="link-about" href="#about">
                                <i class="fa fa-user"></i><span>درباره من</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a id="link-work" href="#work">
                                <i class="fa fa-briefcase"></i><span> نمونه کارهای  من </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a id="link-contact" href="#contact">
                                <i class="fa fa-envelope-open"></i><span> در تماس باشید </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a id="link-blog" href="#blog">
                                <i class="fa fa-comments"></i><span> وبلاگ من </span>
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- Mobile Navigation Ends -->
            </div>
        </div>
        <!-- Stretchy Navigation Starts -->
        <div class="cd-stretchy-nav">
            <a class="cd-nav-trigger" href="#0">
                <span aria-hidden="true"></span>
            </a>
            <ul class="stretchy-nav">
                <li class="active"><a href="#home"><span>خانه</span></a></li>
                <li><a href="#about"><span>درباره</span></a></li>
                <li><a href="#works"><span> نمونه کارها </span></a></li>
                <li><a href="#contact"><span>تماس</span></a></li>
                <li><a href="#blog"><span>وبلاگ</span></a></li>
            </ul>
            <span aria-hidden="true" class="stretchy-nav-bg"></span>
        </div>
        <!-- Stretchy Navigation Ends -->
    </header>
    <!-- Header Ends -->
    <!-- Main Content Starts -->
    <main id="main">
        <!-- Back To Home Starts [ONLY MOBILE] -->
        <span class="back-mobile" id="back-mobile"><i class="fa fa-arrow-right"></i></span>
        <!-- Back To Home Ends [ONLY MOBILE] -->
        <!-- Home Section Starts -->
        <section id="home" class="active">
            <!-- Text Rotator Starts -->
            <div class="main-text-container">
                <img class="rightimagepicture" src="{{ information.image.url }}" alt=""/>
                <div class="main-text" id="selector">
                    <h3>سلام وقت بخیر </h3>
                    <h1 class="ah-headline">
                        من
                        <span class="ah-words-wrapper">
							<b class="is-visible">مهدی رمضانی</b>
							<b>توسعه دهنده وب</b>
							<b>برنامه نویس</b>
							<b>توسعه دهنده Backend</b>
						</span> هستم
                    </h1>
                    <p> من یک طراح و توسعه دهنده مستقل آزاد مستقر در تهران ، ایران هستم. من در تلاش هستم تا از طریق کد
                        دقیق و طراحی کاربر محور ، برنامه های کاربردی وب همه جانبه و زیبا بسازم. </p>

                    <div class="call-to-actions-home">
                        <div class="text-right">
                            <a href="#about" class="btn link-portfolio-one"><span><i class="fa fa-user"></i> اطلاعات بیشتر در مورد من </span></a>
                            <a href="#work" class="btn btn-secondary link-portfolio-two"><span><i
                                    class="fa fa-suitcase"></i>نمونه کارها </span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Text Rotator Ends -->
        </section>
        <!-- Home Section Ends -->
        <!-- About Section Starts -->
        <section id="about">
            <!-- Main Heading Starts -->
            <div class="container page-title text-center">
                <h2 class="text-center"> درباره <span>من</span></h2>
                <span class="title-head-subtitle"> من کارهای زیبا را طراحی و کد می کنم و کاری را که می کنم دوست دارم. </span>
            </div>
            <!-- Main Heading Ends -->
            <div class="container infos">
                <div class="row personal-info">
                    <!-- Personal Infos Starts -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="image-container">
                            <img class="img-fluid d-block" src="{{ information.image.url }}" alt=""/>
                        </div>
                        <p class="d-block d-md-none"> من یک طراح و توسعه دهنده مستقل و مستقر در تهران ، ایران هستم. من
                            در تلاش هستم تا از طریق کد دقیق و طراحی کاربر محور ، برنامه های کاربردی وب همه جانبه و زیبا
                            بسازم. </p>
                    </div>
                    <div class="row col-xl-6 col-lg-6 col-md-12">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <ul class="list-1">
                                <li>
                                    <h6><span class="font-family-irbold"> نام </span> مهدی </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> نام خانوادگی </span> رمضانی </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> تاریخ تولد </span> 22 دی 1380 </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> ملیت </span> ایرانی </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> میزان سابقه کار </span> 2 سال </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> آدرس </span> بندرعباس </h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <ul class="list-2">
                                <li>
                                    <h6><span class="font-family-irbold"> فریلنسر </span> بله </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> زبان </span> فارسی </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> تلفن </span>09011612090 </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> ایمیل </span>
                                        mahdiramazanii.ifiicial@gmail.com </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> اینستاگرام </span> mahdiramezani.dev </h6>
                                </li>
                                <li>
                                    <h6><span class="font-family-irbold"> تلگرام </span> mahdiramazani </h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 resume-btn-container">
                            <a href="{{ information.resumeh.url }}" class="btn btn-resume"><span><i
                                    class="fa fa-download"></i> دانلود رزومه </span></a>
                        </div>
                    </div>
                    <!-- Personal Infos Ends -->
                </div>
            </div>
            <!-- Download CV Starts -->
            <div class="container col-12 mx-auto text-center">
                <hr class="about-section"/>
            </div>
            <!-- Download CV Ends -->
            <!-- Resume Starts -->
            <div class="resume-container">
                <div class="container">
                    <div class="row">
                        <!-- Experience Starts -->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <h2 class="font-family-irbold title-section"> تجربه کاری </h2>
                            <div class="resume-items">
                                <!-- Item Starts -->
                                {% for item in working %}
                                    <!-- Item Starts -->
                                    <div class="item">
                                        <span class="bullet"></span>
                                        <div class="card">
                                            <div class="card-header">
                                                <span class="year"><i class="fa fa-calendar"></i><i
                                                        class="fa fa-caret-left"></i>{{ item.data }}</span>
                                                <span class="d-block ">
												{{ item.position }}
												<span class="separator"></span>
                                                <span class="font-family-irbold"> {{ item.job_name }} </span>
                                                </span>
                                            </div>
                                            <div class="card-body">
                                                <p>{{ item.text }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- Item Ends -->
                            </div>

                        </div>
                        <!-- Experience Ends -->
                        <!-- Education Starts -->
                        <div class="col-xl-6 col-lg-6 col-md-6 skills-container">
                            <h2 class="font-family-irbold title-section">تحصیلات</h2>
                            <div class="resume-items">

                                {% for item in eduction %}
                                    <div class="item">
                                        <span class="bullet"></span>
                                        <div class="card">
                                            <div class="card-header">
                                                <span class="year"><i class="fa fa-calendar"></i><i
                                                        class="fa fa-caret-left"></i>{{ item.data }} </span>
                                                <span class="d-block ">
												{{ item.position }}
												<span class="separator"></span>
                                                <span class="font-family-irbold"> {{ item.university_name }} </span>
                                                </span>
                                            </div>
                                            <div class="card-body">
                                                <p>{{ item.text }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <!-- Education Ends -->
                    </div>
                    <!-- Skills Starts -->
                    <div class="row">
                        <!-- Skill Bar Starts -->
                        <div class="col-12">
                            <h2 class="font-family-irbold title-section skills-title">مهارت ها</h2>
                        </div>

                        {% for item in maharat %}
                            <div class="col-12 col-sm-6 col-md-4">
                                <span class="skill-text">{{ item.name }}</span>
                                <div class="chart-bar">
                                    <span class="item-progress" data-percent="80"
                                          style="width: {{ item.level }}%;"></span>
                                    <span class="percent" style="left: calc(20% - 21px);">{{ item.level }}%<div
                                            class="arrow"></div></span>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Skill Bar Ends -->
                    </div>
                    <!-- Skills Starts -->
                </div>

                <!-- Resume Ends -->
            </div>
        </section>
        <!-- About Section Ends -->
        <!-- Portfolio Section Starts -->
        <section id="work">
            <div class="portfolio-container">
                <!-- Main Heading Starts -->
                <div class="container page-title text-center">
                    <h2 class="text-center"> نمونه کارهای <span> من </span></h2>
                    <span class="title-head-subtitle">آخرین پروژه های  طراحی و کدگذاری . میخوای بیشتر ببینی؟ به من ایمیل بزن
</span>
                </div>
                <!-- Main Heading Ends -->
                <div class="portfolio-section">
                    <div class="container cd-container">
                        <div>
                            <!-- Portfolio Items Starts -->
                            <ul class="row" id="portfolio-items">
                                {% for item in work_sample %}
                                    <li class="col-12 col-md-6 col-lg-4">
                                        <a href="#0" data-type="project-{{ item.id }}">
                                            <img src="{{ item.image.url }}" alt="Project"
                                                 class="img-fluid">
                                            <div><span>تصویر</span>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                                <!-- Portfolio Item Ends -->
                                <!-- Portfolio Item Starts -->

                                <!-- Portfolio Item Ends -->
                            </ul>
                            <!-- Portfolio Items Ends -->
                        </div>
                    </div>
                </div>
                <!-- PORTFOLIO OVERLAY STARTS -->
                <div class="portfolio-overlay"></div>
                <!-- PORTFOLIO OVERLAY ENDS -->
            </div>

            {% for item in work_sample %}
                <div class="project-info-container project-{{ item.id }} ">
                    <!-- Main Content Starts -->
                    <div class="project-info-main-content ">
                        <img src="{{ item.image.url }}" alt="Project Image ">
                    </div>
                    <!-- Main Content Ends -->
                    <!-- Project Details Starts -->
                    <div class="projects-info row ">
                        <div class="col-12 col-sm-6 p-none ">
                            <h3 class="font-family-irbold ">تصویر</h3>
                            <ul class="project-details ">
                                <li><i class="fa fa-file-text-o "></i><span class="project-label"> نوع پروژه  </span>:
                                    <span
                                            class="font-family-irbold "> {{ item.project_type }} </span>
                                </li>
                                <li><i class="fa fa-user-o "></i><span class="project-label"> مشتری </span>: <span
                                        class="font-family-irbold "></span>
                                </li>
                                <li><i class="fa fa-hourglass-o "></i><span class="project-label"> مدت زمان </span>:
                                    <span
                                            class="font-family-irbold ">{{ item.time }} </span>
                                </li>
                                <li><i class="fa fa-code "></i> <span class="project-label">  تکنولوژی </span> : <span
                                        class="font-family-irbold ">{{ item.technology }}</span>
                                </li>
                                <li><i class="fa fa-money "></i> <span class="project-label"> قیمت </span> : <span
                                        class="font-family-irbold ">{{ item.price }}</span>
                                </li>
                            </ul>
                            <a href="{{ item.url }}" class="btn "><span><i class="fa fa-external-link "></i>نمایش</span></a>
                        </div>
                        <div class="col-6 p-none text-left ">
                            <a href="#" class="btn btn-secondary close-project "><span><i
                                    class="fa fa-close "></i> بستن </span></a>
                        </div>
                    </div>
                    <!-- Project Details Ends -->
                </div>
            {% endfor %}



            <span class="back-mobile close-project "><i class="fa fa-arrow-left "></i></span>
        </section>
        <!-- Portfolio Section Ends -->
        <!-- Contact Section Starts -->
        <section id="contact ">
            <div class="contact-container ">
                <!-- Main Heading Starts -->
                <div class="container page-title text-center ">
                    <h2 class="text-center "> در تماس <span> باشید </span></h2>
                    <span class="title-head-subtitle ">من همیشه برای بحث درباره کار طراحی و مشارکت محصولات باز هستم. </span>
                </div>
                <!-- Main Heading Ends -->
                <div class="container ">
                    <div class="row contact ">
                        <!-- Contact Infos Starts -->
                        <div class="col-12 col-md-4 col-xl-4 leftside ">
                            <ul class="custom-list ">
                                <li>
                                    <h6><span class="contact-title "> تلفن </span><i class="fa fa-whatsapp "></i><span
                                            class="contact-content ">{{ information.phone }}</span></h6>
                                </li>
                                <li>
                                    <h6><span class="contact-title "> ایمیل </span><i
                                            class="fa fa-envelope-o fs-14 "></i><span
                                            class="contact-content "> {{ information.email }} </span>
                                    </h6>

                                </li>
                                <li>
                                    <h6><span class="contact-title "> اینستاگرام </span><i class="fa fa-instagram "></i><span
                                            class="contact-content "> {{ information.instagram }} </span></h6>

                                </li>
                                <li>
                                    <h6><span class="contact-title "> تلگرام </span><i class="fa fa-dribbble "></i><span
                                            class="contact-content "> {{ information.telegram }} </span></h6>
                                </li>
                            </ul>

                            <!-- Social Media Profiles Starts -->

                            <div class="social ">
                                <h6 class="font-family-irbold "> پروفایل های اجتماعی </h6>
                                <ul class="list-inline social social-intro text-center p-none ">
                                    <li class="facebook "><a title="Facebook " href="# "><i class="fa fa-facebook "></i></a>
                                    </li>
                                    <li class="twitter "><a title="Twitter " href="# "><i
                                            class="fa fa-twitter "></i></a>
                                    </li>
                                    <li class="youtube "><a title="Youtube " href="# "><i
                                            class="fa fa-youtube "></i></a>
                                    </li>
                                    <li class="dribbble "><a title="Dribbble " href="# "><i class="fa fa-dribbble "></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Social Media Profiles Ends -->
                        </div>
                        <!-- Contact Infos Ends -->
                        <!-- Contact Form Starts -->
                        <div class="col-12 col-md-8 col-xl-8 rightside ">
                            <p>
                                اگر پیشنهادی ، پروژه ای دارید یا حتی می خواهید سلام کنید .. لطفا فرم زیر را پر کنید و به
                                زودی به شما پاسخ می دهم.
                            </p>
                            <form class="contactform" method="post" id="post-form1">
                                {% csrf_token %}
                                <div class="row ">
                                    <!-- Name Field Starts -->
                                    <div class="form-group col-xl-6 "><i class="fa fa-user prefix"></i>
                                        <input id="text2" type="text" class="form-control"
                                               placeholder="نام و نام خانوادگی " required>
                                    </div>
                                    <!-- Name Field Ends -->
                                    <!-- Email Field Starts -->
                                    <div class="form-group col-xl-6 "><i class="fa fa-envelope prefix"></i>
                                        <input id="text3" name="email" class="form-control"
                                               placeholder="ایمیل شما" required>
                                    </div>
                                    <!-- Email Field Ends -->
                                    <!-- Comment Textarea Starts -->
                                    <div class="form-group col-xl-12 "><i class="fa fa-comments prefix"></i>
                                        <textarea id="text1" class="form-control"
                                                  placeholder="پیام شما" required></textarea>
                                    </div>
                                    <!-- Comment Textarea Ends -->
                                </div>
                                <!-- Submit Form Button Starts -->
                                <div class="submit-form ">
                                    <button class="btn button-animated" type="submit"><span><i
                                            class="fa fa-send"></i> ارسال پیام </span></button>
                                </div>
                                <!-- Submit Form Button Ends -->
                                <div class="form-message "><span
                                        class="output_message text-center font-family-irbold "></span>
                                </div>
                            </form>
                        </div>
                        <!-- Contact Form Ends -->

                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section Ends -->
        <!-- Blog Section Starts -->
        <section id="blog">
            <div class="container page-title text-center ">
                <h2 class="text-center "> آخرین <span> پست ها </span></h2>
                <span class="title-head-subtitle ">راهنمایی ، بینش ، و بهترین شیوه در مورد طراحی وب و توسعه</span>
            </div>
            <div class="container ">
                <div class="row ">
                    <!-- Article Starts -->
                    <div class="col-12 col-sm-6 ">
                        <article>
                            <!-- Figure Starts -->
                            <figure class="blog-figure ">
                                <a href="blog-post.html ">
                                    <img class="img-fluid " src="{% static "img/blog/blog-post-4.jpg" %} " alt=" ">
                                </a>
                                <div class="post-date "><span>23</span>
                                    <span>دی</span>
                                </div>
                            </figure>
                            <!-- Figure Ends -->
                            <a href="blog-post.html ">
                                <h4>یک موضوع وردپرس را از ابتدا ایجاد کنید </h4>
                            </a>
                            <!-- Excerpt Starts -->
                            <div class="blog-excerpt ">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است ...</p>
                                <a href="blog-post.html " class="btn readmore "><span> بیشتر بخوانید </span></a>
                            </div>
                            <!-- Excerpt Ends -->
                        </article>
                    </div>
                    <!-- Article Ends -->
                    <!-- Article Starts -->
                    <div class="col-12 col-sm-6 ">
                        <article>
                            <!-- Figure Starts -->
                            <figure class="blog-figure ">
                                <a href="blog-post.html ">
                                    <img class="img-fluid " src="{% static "img/blog/blog-post-1.jpg" %} " alt=" ">
                                </a>
                                <div class="post-date "><span>18</span>
                                    <span>مهر</span>
                                </div>
                            </figure>
                            <!-- Figure Ends -->
                            <a href="blog-post.html ">
                                <h4> نکات استراتژی بازاریابی موثر </h4>
                            </a>
                            <!-- Excerpt Starts -->
                            <div class="blog-excerpt ">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است ...</p>
                                <a href="blog-post.html " class="btn readmore "><span> بیشتر بخوانید </span></a>
                            </div>
                            <!-- Excerpt Ends -->
                        </article>
                    </div>
                    <!-- Article Ends -->
                    <!-- Article Starts -->
                    <div class="col-12 col-sm-6 ">
                        <article>
                            <!-- Figure Starts -->
                            <figure class="blog-figure ">
                                <a href="blog-post.html ">
                                    <img class="img-fluid " src="{% static "img/blog/blog-post-3.jpg" %} " alt=" ">
                                </a>
                                <div class="post-date "><span>01</span>
                                    <span>تیر</span>
                                </div>
                            </figure>
                            <!-- Figure Ends -->
                            <a href="blog-post.html ">
                                <h4>منابع psd و sketch رایگان </h4>
                            </a>
                            <!-- Excerpt Starts -->
                            <div class="blog-excerpt ">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است ...</p>
                                <a href="blog-post.html " class="btn readmore "><span> بیشتر بخوانید </span></a>
                            </div>
                            <!-- Excerpt Ends -->
                        </article>
                    </div>
                    <!-- Article Ends -->
                    <!-- Article Starts -->
                    <div class="col-12 col-sm-6 ">
                        <article>
                            <!-- Figure Starts -->
                            <figure class="blog-figure ">
                                <a href="blog-post.html ">
                                    <img class="img-fluid " src="{% static "img/blog/blog-post-2.jpg" %} " alt=" ">
                                </a>
                                <div class="post-date "><span>01</span>
                                    <span>تیر</span>
                                </div>
                            </figure>
                            <!-- Figure Ends -->
                            <a href="blog-post.html ">
                                <h4> چگونه به یک فریلنسر موفق تبدیل شویم </h4>
                            </a>
                            <!-- Excerpt Starts -->
                            <div class="blog-excerpt ">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است ...</p>
                                <a href="blog-post.html " class="btn readmore "><span> بیشتر بخوانید </span></a>
                            </div>
                            <!-- Excerpt Ends -->
                        </article>
                    </div>
                    <!-- Article Ends -->
                    <!-- Link To Blog Starts -->
                    <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 allposts "><a href="blog.html "
                                                                                             class="btn btn-secondary "><span><i
                            class="fa fa-comments "></i> همه پستها </span></a>
                    </div>
                    <!-- Link To Blog Ends -->
                </div>
            </div>
        </section>
        <!-- Blog Section Ends -->
    </main>
</div>
<!-- Main Content Ends -->
<!-- Preloader Starts -->
<div class="preloader ">
    <div class="preloader-container ">
        <h1> مهدی </h1>
        <div id="progress-line-container ">
            <div class="progress-line "></div>
        </div>
        <h1> رمضانی </h1>
    </div>
</div>
<!-- Preloader Ends -->

<!-- Template JS Files -->
<script src="{% static "js/jquery-2.2.4.min.js" %}"></script>
<script src="{% static "js/jquery.animatedheadline.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/transition.js" %}"></script>
<!-- Live Style Switcher JS File - only demo -->
<script src="{% static "js/styleswitcher.js" %}"></script>
<!-- Main JS Initialization File -->
<script src="{% static "js/custom.js" %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    $(document).on('submit', '#post-form1', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "Home_app:Home" %}',
            data: {

                text: $('#text1').val(),
                name: $('#text2').val(),
                email: $('#text3').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },

            success: function (json) {
                document.getElementById("post-form1").reset();
                Swal.fire(
                    'بسیار عالی !',
                    json["response"],
                    'success'
                )
            }

        })
    });


</script>
</body>


</html>